@{
    ViewData["Title"] = "City wise Gold prices";
}

    <h2>City wise Gold prices</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>City</h3>
            </th>
            <th>
                <h3>22k Gold</h3>
            </th>
            <th>
                <h3>24k Gold</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[0])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[0])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[0])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[1])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[1])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[1])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[2])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[2])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[2])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[3])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[3])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[3])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[4])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[4])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[4])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[5])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[5])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[5])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[6])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[6])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[6])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[7])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[7])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[7])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[8])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[8])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[8])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[9])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[9])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[9])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[10])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[10])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[10])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[11])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[11])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[11])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[12])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[12])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[12])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[13])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[13])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[13])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[14])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[14])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[14])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[15])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[15])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[15])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[16])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[16])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[16])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[17])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[17])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[17])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[18])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[18])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[18])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[19])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[19])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[19])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[20])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[20])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[20])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[21])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[21])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[21])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[23])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[23])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[23])
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Gold.cityList[22])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.oneList[22])
            </td>
            <td>
                @Html.DisplayFor(modelItem => Gold.twoList[22])
            </td>

        </tr>


    </tbody>
</table>
<h6>Disclaimer:All prices are Indian Rupees</h6>